@media ( min-width : 1441px) {
}

@media ( max-width :1440px) {
}

@media ( max-width :1366px) {
}

@media ( max-width :1280px) {
}

@media ( max-width :1080px) {
}

@media ( max-width :1024px) {
}

@media ( max-width :991px) {
	.title1 {
		margin-top: 10px;
	}
}

@media ( max-width :960px) {
	.title1 {
		margin-top: 30px;
	}
}

@media ( max-width :950px) {
	.title1 {
		margin-top: 30px;
	}
}
@media ( min-width : 901px) and (max-width: 949px) {
	.title1 {
		margin-top: 100px;
	}
}
@media ( max-width :900px) {
	.title1 {
		margin-top: 0px;
	}
}

@media ( max-width :876px) {
	.title1 {
		margin-top: 0px;
	}
}

@media ( max-width :800px) {
	.title1 {
		margin-top: -5px;
	}
}

@media ( max-width :794px) {
	.title1 {
		margin-top: 80px;
	}
}

@media ( max-width :768px) {
	.title1 {
		margin-top: -10px;
	}
}

@media ( max-width :767px) {
	.title1 {
		margin-top: -150px;
	}
}

@media ( max-width :680px) {
	.title1 {
		margin-top: -60px;
	}
}

@media ( max-width :640px) {
	.title1 {
		margin-top: -100px;
	}
}

@media ( max-width :540px) {
	.title1 {
		margin-top: -80px;
	}
}

@media ( max-width :480px) {
	.title1 {
		margin-top: -80px;
	}
}

@media ( max-width :450px) {
	.title1 {
		margin-top: -35px;
	}
}

@media ( max-width :440px) {
	.title1 {
		margin-top: 5px;
	}
}

@media ( max-width :320px) {
	.title1 {
		margin-top: 80px;
	}
}